.footer {
  flex: 0;
  padding: 3rem 0;
}
@media (max-width: 576px) {
  .footer {
    padding: 1.5rem 0;
    margin-top: 2rem;
  }
}
.footer-content {
  width: 90%;
  margin: 0 auto;
}

.notice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .notice-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 0;
  }
}

.notice-container h4 {
  text-align: center;
  margin: 0;
}
